html {
  background-color: #C6C5B9;
  font-family: 'Playfair Display', serif;
  --brand-color: #AFC2D5;
}
.front-co{
    color: #00296b;
}
#top-header {
  padding: 20px;
  text-align: center;
  background-color: #1D2D44;
  margin: 0;
  width: 100%;
}
nav{
    margin: 20px;
    word-spacing: 10px;
    font-size: 20px;
    color: var(--brand-color);
}
#about{
    text-align: left;
    font-size: 20px;
    margin: 0px;;
    text-align: center;
    background-color: var(--brand-color);
    padding: 0px;
    width: 100%;
    
}

   #profile-img {
  display: block;
  width: 150px;
  padding: 0px; ;
  text-align: left;
  border: black 3px solid;
    
}
#skills{
    text-align: left;
background-color:var(--brand-color);
padding: 0px;;
margin:0px;
width: 100%;
}
#Projects
{
text-align: left;
background-color:var(--brand-color);
padding: 0px;
margin:0px;
width: 100%;

}

#contact{
text-align: left;
background-color:var(--brand-color);
padding: 0px;
margin:0px;
width: 100%;

}
#footer{
   padding: 20px;
  text-align: center;
  background-color: #1D2D44;
  margin: 0;
  width: 100%;
}
.color{
    color: white;
}